<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>討論區主頁</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <style>
            nav.navbar{
                position: sticky;
                top:0;
                z-index: 1000;
            }


        </style>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">PolyBrain</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">首頁</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">商品專區</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">競標專區</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">會員中心</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">全台最大桌遊討論區</h1>
                    <p class="lead mb-0">燃燒你內心深處的桌遊魂!!!</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="images/三國殺.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2023</div>
                            <h2 class="card-title">三國殺</h2>
                            <p class="card-text">相信"三國"是一個家域戶曉名詞，三國殺是一個以三國時代為背景，集角色扮演、戰鬥、偽裝等要素于一體的多人卡片遊戲。玩家可以通過在遊戲裡扮演不同身份的角色，隱藏自己，尋找同伴，並運用各是不同的技能擊敗敵對勢力，得到最後的勝利，創造一個屬於自己的三國傳奇。</p>
                            <a class="btn btn-primary" href="#!">進入討論區 →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="images/阿瓦隆.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2023</div>
                                    <h2 class="card-title h4">阿瓦隆</h2>
                                    <p class="card-text">梅林法師和圓桌武士們為亞瑟王找尋聖杯的故事，然而在路途中，團隊卻混入了邪惡法師的爪牙，想要暗中破壞，干擾任務的進行。 玩家們就是要扮演這些角色，但除了部分有特殊能力的角色之外，大部分的圓桌武士只知道自己的身分，因此如何在出任務的過程中，逐步觀察其他玩家的選擇和話語，找到自己的同伴，是這款遊戲致勝的關鍵。</p>
                                    <a class="btn btn-primary" href="#!">進入討論區 →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="images/狼人殺.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2023</div>
                                    <h2 class="card-title h4">狼人殺</h2>
                                    <p class="card-text">在一個看似平凡無奇的村莊，村民們樸實的生活著，某天一個月圓的夜晚，這村莊出現第一名受害者，伴隨著一聲慘叫，死在那利爪獠牙底下，早晨，在警長的決定下，開始每天投票放逐一名嫌疑犯，直到村莊回復和平。</p>
                                    <a class="btn btn-primary" href="#!">進入討論區 →</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="images/驚爆倫敦.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2023</div>
                                    <h2 class="card-title h4">驚爆倫敦</h2>
                                    <p class="card-text">莫里亞蒂在倫敦的大笨鐘安裝了定時炸彈！遊戲中玩家分成正反兩方，除了要找出隊友外，還要處理炸彈！機智的福爾摩斯一行人是否能在時間內解除炸彈？或是莫里亞蒂會與他的土同夥笑著離開大笨鐘的廢墟呢？Don‘t Mess with Cthulhy！經典重現！</p>
                                    <a class="btn btn-primary" href="#!">進入討論區 →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="images/璀璨寶石.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">January 1, 2023</div>
                                    <h2 class="card-title h4">璀璨寶石</h2>
                                    <p class="card-text">在文藝復興時期，玩家是個寶石藝術家，要運用各種資源把寶石製作成精美的珠寶。玩家會透過拿取寶石和黃金籌碼購買發展牌，來得到威望分數和額外的寶石獎勵，寶石獎勵可以讓玩家在之後的購買中減免支付。當玩家的寶石獎勵到達某個程度時，就會有貴族來訪，並會獲得額外的威望分數。</p>
                                    <a class="btn btn-primary" href="#!">進入討論區 →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">下一頁</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">搜尋</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="輸入關鍵字..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button" >查詢</button>
                            </div>
                        </div>
                    </div>
                  
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">桌遊類別</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">益智類</a></li>
                                        <li><a href="#!">多人遊玩類</a></li>
                                        <li><a href="#!">角色扮演類</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">棋牌類</a></li>
                                        <li><a href="#!">策略類</a></li>
                                        <li><a href="#!">家庭遊戲類</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">討論區須知</div>
                        <div class="card-body">歡迎來到桌遊討論區！這裡是一個熱愛桌上遊戲的社群，讓我們共同營造友善、有趣的討論環境。請尊重彼此，避免冒犯、不雅言辭與爭執。分享遊戲心得、規則解釋、推薦等話題。請勿洩漏劇透、侵犯版權或做商業宣傳。讓我們一同享受桌遊帶來的樂趣吧！</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
