<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>討論區內頁</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="
        https://cdn.jsdelivr.net/npm/sweetalert2@11.7.22/dist/sweetalert2.min.css
        " rel="stylesheet">
    <style>
        nav.navbar{
			position: sticky;
			top:0;
			z-index: 100;
		}

    </style>
</head>
<body>
<script src="
        https://cdn.jsdelivr.net/npm/sweetalert2@11.7.22/dist/sweetalert2.all.min.js
        "></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#!">PolyBrain</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#">首頁</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">商品專區</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">競標專區</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">會員中心</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">【攻略】手機版繁體版鬥地主現象及攻略</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on January 1, 2023 by Peter</div>
                    <!-- Post categories-->
                    <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
					<a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                    <button class="btn btn-primary " id="button-collect"  type="button">貼文收藏</button>
                </header>
                <!-- Preview image figure-->

                <figure class="mb-4"><img class="img-fluid rounded" src="../../forum/mainpage/images/三國殺討論1.jpg" alt="..." /></figure>

                <!-- Post content-->

                <section class="mb-5">

                    <p class="fs-5 mb-4">繁體版有鬥地主真是一大福音，對於小資玩家來說，學會鬥地主，將會有源源不斷的資源從這裡取得，因此鬥地主是必須要學的~注意!若你是完全的新手或是幾乎沒有強將的話，先不要鬥地主 </p>
                    <p class="fs-5 mb-4">規則:要玩鬥地主之前需要先摸清楚規則，鬥地主是三人遊戲，不能進行組隊
                        1.由三名玩家觀看自己抽到的將並輪流選擇倍數123(這裡的選擇倍數完全是隨機順序)，由最高倍    數的人當地主(主公)1號位，另外兩人直接成為農民(反賊)</p>
                    <p class="fs-5 mb-4">2.選將部分，決定玩身份後開始選將，並且多發給地主兩張將卡，並且跟身份場不同的是地主選了  哪隻將在選將階段是不公開的</p>
                    <p class="fs-5 mb-4">3.開始後，地主會多了兩個固有技能(這兩個技能是主攻這個身分有的技能，並不是武將技能，因   此不受到群蔡文姬的斷腸影響)</p>
                    <p class="fs-5 mb-4">4.報名費:報名費=底價x地主叫價倍數。地主須兩倍報名費
                        若是輸的情況下需各自扣除報名費。
                        若是贏的話，則全數歸還報名費，並給予報名費x0.9的金票作為獎勵。</p>
                    <p class="fs-5 mb-4">V5.有個罕見的情況，鬥地主同排位賽一樣，遊戲限制時間為30分鐘。時間到立即結束，由AI判定  MVP的玩家所在隊伍獲勝。</p>
                </section>

            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4">

                            <!-- Comment with nested comments-->
                            <div class="d-flex mb-4">
                                <!-- Parent comment-->
                                <div class="flex-shrink-0"><img class="rounded-circle" src="../../forum/mainpage/images/討論區網民A.jpg" alt="..." style="width: 100px; height: 100px;"/></div>
                                <div class="ms-3">
                                    <div class="fw-bold">乂劉覽力辰乂</div>
                                    繁體版的現象，手機繁體版的玩家在選到農民時，有很大一部分的玩家會選俗稱宇宙兄弟的郭嘉曹沖，或者同為四害之一的張春華，又或者是其他非常差的選將，這裡先聲明，如果想要靠鬥地主賺取資源，就不要再選這些將了。可我們無法操控隊友的選將，因此我們就必須做出配合，所謂四害或者奇形怪狀的將都有共通點，技能沒啥用，也吸不了仇恨值，輸出低，前面兩個我們難以彌補，因此我會針對輸出低這點去調整我的選將，在將的實用度差不多時，比起輔助我會選擇擁有穩定輸出或者高爆發的腳色。我們沒辦法改變環境，但我們可以因應環境。
                                    <!-- Child comment 1-->
                                    <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="../../forum/mainpage/images/討論區網民B.jpg" alt="..."style="width: 50px; height: 50px;"/></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">煞氣a小潘</div>
                                            感謝大大的無私分享!
                                        </div>
                                    </div>
                                    <!-- Child comment 2-->
                                    <div class="d-flex mt-4">
                                        <div class="flex-shrink-0"><img class="rounded-circle" src="../../forum/mainpage/images/討論區網民D.png" alt="..." style="width: 50px; height: 50px;"/></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">小吳海鮮</div>
                                            好詳細的見解~不愧是劉覽大大
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single comment-->
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="../../forum/mainpage/images/討論區網民C.png" alt="..." style="width: 100px; height: 100px;"/></div>
                                <div class="ms-3">
                                    <div class="fw-bold">小豬佩chi</div>
                                    有人要一起玩嗎~?新手求帶QQ
                                </div>
                            </div>
                            <textarea class="form-control" rows="3" placeholder="留言..."></textarea></form>
                        <!-- Add Comment Button -->
                        <button class="btn btn-primary position-absolute bottom-0 end-0" id="addCommentBtn">新增留言</button>
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">搜尋</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="輸入關鍵字..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">查詢</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">桌遊類別</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">益智類</a></li>
                                <li><a href="#!">多人遊玩類</a></li>
                                <li><a href="#!">角色扮演類</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="#!">棋牌類</a></li>
                                <li><a href="#!">策略類</a></li>
                                <li><a href="#!">家庭遊戲類</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">討論區須知</div>
                <div class="card-body">歡迎來到桌遊討論區！這裡是一個熱愛桌上遊戲的社群，讓我們共同營造友善、有趣的討論環境。請尊重彼此，避免冒犯、不雅言辭與爭執。分享遊戲心得、規則解釋、推薦等話題。請勿洩漏劇透、侵犯版權或做商業宣傳。讓我們一同享受桌遊帶來的樂趣吧！</div>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script>
    const submitButton = document.querySelector("#addCommentBtn");
	submitButton.addEventListener("click", function() {
	Swal.fire({
  title: '確定送出??',
  text: "確認內容編輯後即可送出!",
	  icon: 'warning',
	  showCancelButton: true,
	  confirmButtonColor: '#3085d6',
	  cancelButtonColor: '#d33',
	  confirmButtonText: 'OK'
	}).then((result) => {
	  if (result.isConfirmed) {
	Swal.fire(
	  '張貼成功!',
	  '您的留言已經送出',
	  '成功'
	)
  }
})
  });
</script>
</body>
</html>

