<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/cb31023646.js" crossorigin="anonymous"></script>
    <style>

        .flex-container {
       display: flex;       /* 啟用flexbox佈局 */
       align-items: flex-start;  /* 內容從上到下對齊 */
   }
        article {       /* 隱私權設定 */
       font-size: 15px; /* 或其他合適的大小 */
       padding-left: 40px; /* 或其他合適的邊距 */
       width: 80%; /* 或其他合適的寬度 */
       margin: 0 auto; /* 這會使文章內容在頁面中居中 */
       margin-top: 40px;  /* 依您的需求調整這個值 */
   }
           .backto {
       position: fixed; /* 可以使按鈕在滾動時保持固定位置 */
       bottom: 10%; /* 可以根據需要調整到頁面的具體位置 */
       left: 50%; /* 將按鈕移到視窗的一半 */
       transform: translateX(-50%); /* 水平置中 */
   }

   #gotop img {
       display: block;
       margin: 0 auto; /* 圖片水平置中 */
   }
        #memName {
    line-height: 2.3;  /* 调整为所需的值 */
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    color: white;
    margin-left: 12px;
}
    </style>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="http://localhost:8080/PolyBrain/view/bid/BidOnHomePage.html">
                <img src="../logo/PolyBrain_Logo.png" style="width: 110px; height: auto; margin-bottom: 5px;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-list"> 添加 nav-list 類別 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="buyitem" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">商城</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            <li><a class="dropdown-item" href="blog-home.html">商品資訊</a></li>
                            <li><a class="dropdown-item" href="blog-post.html">商城訂單查詢</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="buybid" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">競標</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            <li><a class="dropdown-item" href="blog-home.html">熱門競標</a></li>
                            <li><a class="dropdown-item" href="blog-post.html">競標訂單查詢</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="mybooking" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">預約場地</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                            <li><a class="dropdown-item" href="blog-home.html">現在預約</a></li>
                            <li><a class="dropdown-item" href="blog-post.html">預約場地查詢</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="discuss" href="#" role="button">討論區</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="memberdistrict" href="#" role="button">會員中心</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="faq.html">常見問題</a></li>

                    <li>
                        <form class="d-flex">
                            <button class="btn btn-outline-dark" type="submit">
                                <i class="bi-cart-fill me-1"></i>
                                購物車
                            </button>   
                        </form>
                    </li>
                    <span id="memName" style="margin-left:12px;"></span>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul id="dropdown-menu" class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdown">
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</main>

<div class="flex-container">


    <!-- Main content -->
    <div class="flex-grow-1">
        <div class="contentinfo">
            <div id="divChannelTitle" class="title">

            </div>

            <span id="spanChannelTitleLine" class="line"></span>

            <!--main conetnt start-->



            <article>
                <h2>關於我們</h2>
                Polybrain（以下簡稱本店）。 <br /><br /><br />
                <h3 >壹、主題來源
                </h3>本店的主題是由組員蔡宗錡構思並由楊澈命名為「Polybrain」，從而奠定了我們的經營理念。 <br /><br /><br />

                <h3 >貳、起緣
                </h3>當您疫情期間的各種防疫舉措, 連帶影響實體活動的銳減 . . . <br /><br />
                導致不少桌遊空間接連停業,玩家們對於從事桌遊活動的行為也有所轉變<br /> <br />
                因此志在透過網路平台滿足後疫情時代下所衍生出的需求PolyBrain<br /> <br />

                <h3 >叁、本店地址
                </h3>地址：桃園市中壢區復興路46號9樓 <br /><br />
                電話：03-4251108<br /> <br />
                停車位：周遭有大量停車格可使用，也有付費停車場，公園區有個付費地下停車場可使用<br /> <br />

                <h3 >叁、關於本店設備內容
                </h3>但凡在本店網路商城販賣的物品來店即可暢玩，有茶水間無限暢飲咖啡、茶水。<br /> <br />
            </article>
            <!-- text_content end -->



            <!--main conetnt end-->


            </div>
    </div>
</div>




<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright © 2023 PolyBrain. All rights reserved. </div>
            </div>
            <div class="col-auto">



                <a class="link-light small" href="http://localhost:8080/PolyBrain/view/head/Privacy.html">隱私權協定</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="http://localhost:8080/PolyBrain/view/head/Forus.html">關於我們</a>
                <span class="text-white mx-1">&middot;</span>
                <a href="mailto:polybrainthird@gmail.com?subject=聯絡我們的請求&body=請在此寫下您的問題。"
                   title="用 Email 轉寄" onclick="return confirm('您確定要前往email寄信?');">
                    <img src="images/信封.jpg" >
                </a>




            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<a>

</a>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"
        integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<script>
    function scrollToTop() {
    window.scrollTo({top: 0, behavior: 'smooth'}); // 使用平滑的滾動效果
    }

           $(document).ready(function(){
            validateMemStatus();
        });
    async function validateMemStatus() {
    const response = await fetch('/PolyBrain/general/validateMemStatus', {
    method: 'POST',
    headers: { 'content-type': 'application/json; charset:utf-8' },
    })
    .then(resp => resp.json())
    .then(data => {
    console.log(data);
    const { memNo, memName, loginStatus } = data;
    $('ul#dropdown-menu').append(`
    <li><a class="dropdown-item" href="#!">會員專區</a></li>
    <li><a class="dropdown-item" href="#!">購物車</a></li>
    <li><hr class="dropdown-divider" /></li>
    `);
    if (loginStatus) {
    $('span#memName').text(memName);
    $('ul#dropdown-menu').append('<li><a id="logOut" class="dropdown-item" href="http://localhost:8080/PolyBrain/view/member/logout.html">登出</a></li>');
    let memDetail = [memNo, memName];
    return memDetail;
    } else {
    $('ul#dropdown-menu').append('<li><a id="logOut" class="dropdown-item" href="http://localhost:8080/PolyBrain/view/member/login.html">登入</a></li>');
    }
    });
    return response;
    }

          let bidEventList = document.querySelectorAll('.bidEventList');
        bidEventList.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                const biddingEvent = link.getAttribute('data-event-id');
                const bidEventURL = 'http://localhost:8080/PolyBrain/view/bid/BidOnItemPage2.jsp';
                const url = `${bidEventURL}?bidEventId=${biddingEvent}`;
                window.location.href = url;
            });
        });
</script>
</body>

</html>