<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="./css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-dark">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row" style="background-color: rgb(60, 60, 60);">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image" style="background-image: url('/PolyBrain/view/member/image/登入畫面圖.jpg');" style="margin-right: 50px;"></div>
                        <div class="col-lg-6">
                            <div style="background-color: rgb(60, 60, 60); text-align: center; padding: 10px; width: 505px;">
                                <a href="http://localhost:8080/PolyBrain/view/emp/login.jsp">
                                    <img src="../logo/PolyBrain_Logo.png" style="width: 250px; height: auto; margin-top: 40px;" alt="前台登入隱藏暗道">
                                </a>
                            </div>
                            <div class="p-5" style="margin-left: 50px; background-color: rgb(60, 60, 60); text-align: center;">

                                <h1 class="h4 text-gray-900 mb-4" style="color: #f0f0f0 !important; font-weight: 400;">- 歡迎回來 -</h1>


                                    <div class="form-group">
                                        <input type="email" id="memEmail" name="memEmail" class="form-control form-control-user"
                                                aria-describedby="emailHelp"
                                               placeholder="請輸入電子郵件" style="height: 50px;">
                                        <span id="emailMsg" style="visibility: hidden; color: red;">請輸入電子郵件</span>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="memPwd" name="memPwd" class="form-control form-control-user"
                                                placeholder="請輸入密碼" style="height: 50px;">
                                        <span id="passwordMsg" style="visibility: hidden; color: red;">請輸入密碼</span>
                                    </div>
                                    <div class="form-group">
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block loginSubmit">登入</button>

                                    <p id="checkMsg1" style="visibility: hidden;color: red;font-size: 10px;margin-top: 30px;">
                                        你的帳號或密碼不正確，請再試一次</p>
                                        <hr style="border-color: #f0f0f0;">

                                    <div style="color: #f0f0f0;"></div>
                                <div class="text-center">
                                    <a class="small" href="register.jsp">註冊會員</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script> -->
<script src="./js/sb-admin-2.min.js"></script>

<script>
$(document).on("click", "button.loginSubmit", function(e){
    console.log('ok');
    let loginSuccess = true;
    if($.trim($("input#memEmail").val()) === ""){
        loginSuccess = false;
        $("span#emailMsg").css("visibility", "visible"); //show error msg when false
        $("p#checkMsg1").css("visibility", "hidden");
    }else{
        $("span#emailMsg").css("visibility", "hidden"); //success
    }
    if($.trim($("input#memPwd").val()) === ""){
        loginSuccess = false;
        $("span#passwordMsg").css("visibility", "visible");
        $("p#checkMsg1").css("visibility", "hidden");
    }
    else{
        $("span#passwordMsg").css("visibility", "hidden");
    }

    if(loginSuccess){
        $("span#emailMsg").css("visibility", "hidden"); 
  $("span#passwordMsg").css("visibility", "hidden");
        console.log('123');

        fetch('/PolyBrain/general/login', {
            method: 'POST',
            headers: {'content-type': 'application/json; charset: utf-8'},
            body: JSON.stringify({
                memEmail: $('input#memEmail').val(),
                memPwd: $('input#memPwd').val()
            })
        })
        .then(resp => resp.json())
        .then(body => {
            const {success} = body;
            if(success){
                $("p#checkMsg1").css('visibility', 'hidden');
                const currentPage = sessionStorage.getItem('currentPage');
                if(currentPage){
                    window.location.href = currentPage;
                }else{
                    window.location.href = '/PolyBrain/view/bid/BidOnHomePage.html';
                }
            }else{
                $('p#checkMsg1').css('visibility', 'visible');
            }
        });
    }
})
</script>

</body>

</html>