<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>後台管理-遊戲商品</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">
    <link href="./css/item.css" rel="stylesheet" />
    <style>
        img {
            vertical-align: middle;
            max-width: 130px;
            /* 设置最大宽度 */
            max-height: 130px;
            /* 设置最大高度 */
            overflow: hidden;
            position: relative;
            border: 3px solid black;
            width: 100%;
            height: auto;
            max-width: 130px;
            /* 图像最大宽度为容器宽度 */
            max-height: 130px;
            /* 图像最大高度为容器高度 */
        }

        .lightbox {
            display: none;
            /* 其他樣式屬性... */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* 使燈箱覆蓋整個螢幕 */
            /* display: flex; */
            align-items: center;
            justify-content: center;
            /* 使用 flex 布局使內容垂直水平居中 */
            z-index: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .lightbox-content {
            /* 其他样式属性... */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-35%, -50%);
            /* 使用 transform 属性将内容水平和垂直居中 */
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
            max-height: 500px;
            max-width: 425px;
            /* 根據需要調整固定高度 */
            overflow-y: auto;
            /* 啟用垂直滾動條 */
        }

     
    </style>

</head>

<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="index.html">
                    <img src="../logo/PolyBrain_Logo.png"  style="width: 110px; height: auto; margin-bottom: 5px; border:0;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-list"> 添加 nav-list 類別 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="buyitem" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">商城</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="../item/search.html">商品資訊</a></li>
                                <li><a class="dropdown-item" href="../order/memberOrder.html">商城訂單查詢</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="buybid" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">競標</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="../bid/BidOnHomePage.html">熱門競標</a></li>
                                <li><a class="dropdown-item" href="../order/bidOrderFront.html">競標訂單查詢</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="mybooking" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">預約場地</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                <li><a class="dropdown-item" href="../book/Calendar.html">現在預約</a></li>
                                <li><a class="dropdown-item" href="../book/BookingCheck.html">預約場地查詢</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="discuss" href="../forum/mainpage/index.jsp" role="button">討論區</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="memberdistrict" href="../member/Member_Information.jsp"
                                role="button">會員中心</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="../head/question.html">常見問題</a></li>
                        <li>
                            <form method="post" action="http://localhost:8080/PolyBrain/loginRequired/CartServlet">
                                <input type="hidden" name="action" value="getAll" id="actionInput">
                                <button type="submit" class="btn text-white">
                                    <i class="bi-cart-fill me-1" style="color: #ffffff"></i>
                                    購物車
                                </button>
                            </form>
                        </li>
                        <span id="memName" style="margin-left:12px;"></span>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                            <ul id="dropdown-menu" class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="navbarDropdown">
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_content" style="padding-left: 0px;">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">我的收藏</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">陳列已收藏的遊戲商品</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            追蹤商品資訊
                        </div>
                        <div class="card-body">
                            <table id="itemTable" class="table table-striped table-bordered dt-responsive"
                                style="width:100%">
                                <thead>
                                    <tr>
                                        <!-- data-priority="1" 為縮框時優先順序 -->
                                        <th data-priority="4">商品編號</th>
                                        <th data-priority="5">圖片</th>
                                        <th data-priority="1">商品名稱</th>
                                        <th data-priority="2">售價</th>
                                        <th data-priority="3">操作功能</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    </div>
  
    <script src="./js/jquery-3.7.0.min.js"></script>
    <script src="./js/itemTrace.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
</body>

</html>